<%- include('header') %>

		<div class="login-body">
            <h1 class="login-title">Login</h1>
			<div class="login-form form">
				<form class="login">
					<div class="login">
						<input type="text" id="email" placeholder="Enter Email" required autocomplete="off" />
						<input
							type="text"
							id="password"
							placeholder="Enter Password"
							required
							autocomplete="off"
						/>
                        <div class="forgotpassword">Forget password?</div>
						<button class="login-btn">Login</button>

					</div>
				</form>
                <p class="login-info">Doesn't have an Account?<a href="signup">SignUp</a></p>
			</div>
		</div>
			

	<%- include('footer') %>